# Node modules
node_modules/

# Environment files
backend/.env
frontend/.env*
!frontend/.env.example  # Keep this file

# Next.js build folders
frontend/.next/
frontend/out/

# Database/local files
*.sql
*.dump
*.log

# IDE/OS files
.DS_Store
.vscode/
.idea/

.env
.env*

node_modules/*
.next/*

